@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
  
* {
  scroll-behavior: smooth;
}

.bg-hover-gradient {
  background: rgba(24, 24, 27, 0.5);
}

.text-gradient {
  background: linear-gradient(94.34deg, #FFFFFF 0%, #9BD0F5 100%),
  linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(135deg, #FFFFFF 0%, #71717A 100%),
  linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg_three-dots_active {
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

.bg_three-dots {
  background: rgba(51, 51, 51, 1);
}

.profile-image {
  /* width: 100%; */
  max-height: 200px;
  object-fit:contain;
  position: relative;
  z-index: 2;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
}

.profile-image-2 {
  width: 100%;
  max-height: 200px;
  object-fit:contain;
  position: relative;
  z-index: 2;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
}